<div class="list-group">
      <a href="/academics/notices/" class="list-group-item list-group-item-action"><img src="/assets/img/file-icon.png"
                  alt="" style="height: 0.8rem"> Notices</a>
      <a href="/academics/syllabus/" class="list-group-item list-group-item-action"><img src="/assets/img/book.png"
                  alt="" style="height: 0.8rem"> Syllabus</a>
      <a href="/academics/sharedfolders/" class="list-group-item list-group-item-action"><img src="/assets/img/folder-icon.png"
                  alt="" style="height: 0.8rem"> Shared Folders</a>
</div>