<div class="list-group">
      <a href="/academics/" class="list-group-item list-group-item-action"><img src="/assets/img/college-icon.png"
                  alt="" style="height: 0.8rem"> Academics</a>
      <a href="/academics/notices/" class="list-group-item list-group-item-action"><img src="/assets/img/file-icon.png"
                  alt="" style="height: 0.8rem"> Notices</a>
      <a href="/academics/syllabus/" class="list-group-item list-group-item-action"><img src="/assets/img/book.png"
                  alt="" style="height: 0.8rem"> Syllabus</a>
      <a href="/academics/sharedfolders/" class="list-group-item list-group-item-action"><img
                  src="/assets/img/folder-icon.png" alt="" style="height: 0.8rem"> Shared Folders</a>
      <a href="/academics/classchat/" class="list-group-item list-group-item-action"><img
                  src="/assets/img/chat-icon.png" alt="" style="height: 0.8rem"> Class Chat</a>
      <a href="/academics/calender/" class="list-group-item list-group-item-action"><img
                  src="/assets/img/calender-icon.png" alt="" style="height: 0.8rem"> Calender</a>

</div>