<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}
      <style>
            .create div {
                  border: 1px solid black;
                  padding: 1rem;
                  margin: 1rem;
                  cursor: pointer;
            }

            .folders {
                  cursor: pointer;
            }

            .files {
                  cursor: pointer;
            }

            .delete-icon {
                  float: right;
                  background-color: white;
                  padding: 0.5rem;
                  border-radius: 0.3rem;
                  cursor: pointer;

            }

            .delete-icon:hover span {
                  display: none;
            }

            .delete-icon:hover::before {
                  content: "Delete";
            }

            .rename-icon {
                  float: right;
                  background-color: white;
                  padding: 0.5rem;
                  border-radius: 0.3rem;
                  cursor: pointer;
            }

            .rename-icon:hover span {
                  display: none;
            }

            .rename-icon:hover::before {
                  content: "Rename";
            }

            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }

            td {
                  cursor: pointer;
                  border-color: green;
            }
      </style>
</head>

<body>
      <header id="header">
            {{>navbar}}
      </header>

      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-9" id="calendertablepart">
                        <div class="sc1" style="max-height: 80vh;overflow-y:scroll" id="mainpart">
                              <div id="thecalender">
                                    <div class="container">
                                          <div class="card" style="padding: 1rem;">
                                                <h3 class="card-header" id="monthAndYear" onclick="hidesidetask()"></h3>
                                                <table class="table table-bordered table-responsive-sm" id="calendar">
                                                      <thead>
                                                            <tr>
                                                                  <th>Sun</th>
                                                                  <th>Mon</th>
                                                                  <th>Tue</th>
                                                                  <th>Wed</th>
                                                                  <th>Thu</th>
                                                                  <th>Fri</th>
                                                                  <th>Sat</th>
                                                            </tr>
                                                      </thead>

                                                      <tbody id="calendar-body">

                                                      </tbody>
                                                </table>

                                                <div class="form-inline" id="previousnext">

                                                      <button class="btn btn-outline-primary col-sm-6" id="previous"
                                                            onclick="previous()">Previous</button>

                                                      <button class="btn btn-outline-primary col-sm-6" id="next"
                                                            onclick="next()">Next</button>
                                                </div>
                                                <br />
                                                <form class="form-inline" id="jumpto">
                                                      <label class="lead mr-2 ml-2" for="month">Jump To: </label>
                                                      <select class="form-control col-sm-4" name="month" id="month"
                                                            onchange="jump()" style="margin-right: 1rem;">
                                                            <option value=0>Jan</option>
                                                            <option value=1>Feb</option>
                                                            <option value=2>Mar</option>
                                                            <option value=3>Apr</option>
                                                            <option value=4>May</option>
                                                            <option value=5>Jun</option>
                                                            <option value=6>Jul</option>
                                                            <option value=7>Aug</option>
                                                            <option value=8>Sep</option>
                                                            <option value=9>Oct</option>
                                                            <option value=10>Nov</option>
                                                            <option value=11>Dec</option>
                                                      </select>


                                                      <label for="year"></label><select class="form-control col-sm-4"
                                                            name="year" id="year" onchange="jump()">
                                                            <option value=2017>2017</option>
                                                            <option value=2018>2018</option>
                                                            <option value=2019>2019</option>
                                                            <option value=2020>2020</option>
                                                            <option value=2021>2021</option>
                                                            <option value=2022>2022</option>
                                                            <option value=2023>2023</option>
                                                            <option value=2024>2024</option>
                                                            <option value=2025>2025</option>
                                                            <option value=2026>2026</option>

                                                      </select></form>
                                          </div>
                                    </div>
                              </div>

                        </div>

                  </div>
                  <div class="col-3" id="rightsidemenu">
                        <div class="list-group">
                              <a href="/academics/" class="list-group-item list-group-item-action"><img
                                          src="/assets/img/calender-icon.png" alt="" style="height: 0.8rem">
                                    Calender</a>
                        </div>

                        <hr>
                        <div>
                              <h1 id="theactualdate" style="text-align: center;">Today's Task</h1>
                        </div>

                        <div>
                              <div>
                                    <hr>
                                    <li class="list-group-item active" style="text-align: center" onclick="addnew()">Add
                                          New</li>
                                    <hr>
                              </div>

                              <ul class="list-group sc1" id="thetaskitems" style="overflow-y: scroll;height:40vh">

                              </ul>
                        </div>
                  </div>

                  <div id="thetask" class="col-4">
                  </div>

            </div>
      </div>

      {{>scripts}}

      <script>
            function addthetask() {
                  var taskname = $("#taskname").val();
                  var taskdesc = $("#taskdesc").val();
                  var taskdate = $("#taskdate").val();
                  var tasktime = $("#tasktime").val();
                  $.post('/academics/calender/addtask', {
                        taskdate: taskdate,
                        taskname: taskname,
                        tasktime: tasktime,
                        taskdesc: taskdesc
                  }, function (data, status) {
                        $("#thetask").html("");
                        $("#thetask").append(
                              `<li id="createdmessage"  class="list-group-item bg-dark text-white">${data}</li>`
                        );
                  });
                  RefreshTasks();
            }


            function getDate() {
                  var today = new Date();
                  document.getElementById("todaysdate").value = today.getFullYear() + '-' + ('0' + (today.getMonth() +
                              1))
                        .slice(-2) + '-' + ('0' + today.getDate()).slice(-2);


            }

            function createtask() {
                  $("#thetask").html("");
                  $("#createdmessage").remove();
                  $("#thetask").append(`<button type="button" class="btn btn-dark" >Task</button>
                  <button type="button" class="btn btn-light" onclick="createevent()">Event</button>
                  <hr>
                  <div class="form-group">
                              <input type="text" name="taskname" id="taskname" class="form-control" 
                                    placeholder="Enter Task Name">
                        </div>
                        <div class="form-group">
                              <textarea name="taskdesc" class="form-control"  id="taskdesc"
                                    placeholder="Enter Task Description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                              <input type="date" onload="getDate()" name="taskname" class="form-control" id="taskdate"
                                     placeholder="Enter Task Name">
                        </div>
                        <div class="form-group">
                              <input type="time" name="tasktime" id="tasktime" class="form-control" 
                                     placeholder="Enter Task Name">
                        </div>
                        <button type="button" class="btn btn-primary" id="addtask" onclick="addthetask()">Add Task</button>
                  `);
            }

            function createevent() {
                  $("#thetask").html("");
                  $("#createdmessage").remove();

                  $("#thetask").append(`<button type="button" class="btn btn-light"  onclick="createtask()">Task</button>
                  <button type="button" class="btn btn-dark">Event</button>
                  <hr>
                        <div class="form-group">
                              <input type="text" name="eventname" class="form-control" 
                                    placeholder="Enter Event Name">
                        </div>
                        <div class="form-group">
                              <input type="text" name="eventvenue" class="form-control" 
                                     placeholder="Enter Event Venue">
                        </div>
                        <div class="form-group">
                              <textarea name="eventdesc" class="form-control"
                                    placeholder="Enter Event Description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                              <input type="date" onload="getDate()" value="22-05-2044" name="taskname" class="form-control" id="todaysdate"
                                   >
                        </div>
                        <div class="form-group">
                              <input type="time" name="taskname" class="form-control" 
                                   >
                        </div>
                        <button type="button" class="btn btn-primary" id="addevent">Add Event</button>
                  
                  `);
            }

            function addnew() {
                  $("#createdmessage").remove();

                  $("#calendertablepart").removeClass('col-9');
                  $("#calendertablepart").addClass('col-5');
                  $("#thetask").html("");
                  $("#thetask").css('display', 'block');
                  $("#thetask").append(`<button type="button" class="btn btn-dark" >Task</button>
                  <button type="button" class="btn btn-light" onclick="createevent()">Event</button>
                  <hr>
                  <div class="form-group">
                              <input type="text" name="taskname" id="taskname" class="form-control" 
                                    placeholder="Enter Task Name">
                        </div>
                        <div class="form-group">
                              <textarea name="taskdesc" class="form-control"  id="taskdesc"
                                    placeholder="Enter Task Description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                              <input type="date" onload="getDate()" name="taskname" class="form-control" id="taskdate"
                                     placeholder="Enter Task Name">
                        </div>
                        <div class="form-group">
                              <input type="time" name="tasktime" id="tasktime" class="form-control" 
                                     placeholder="Enter Task Name">
                        </div>
                        <button type="button" class="btn btn-primary" id="addtask" onclick="addthetask()">Add Task</button>
                  `);
            }

            function hidesidetask() {
                  $("#thetask").css('display', 'none');
                  $("#calendertablepart").removeClass('col-5');
                  $("#calendertablepart").addClass('col-9');
            }

            function showtasks() {
                  $("#calendertablepart").removeClass('col-9');
                  $("#calendertablepart").addClass('col-5');
                  $("#thetask").css('display', 'block');
                  $("#monthAndYear").addClass('calenderheader');
            }

            function getback() {
                  $("#previousnext").css('display', 'flex');
                  $("#jumpto").css('display', 'flex');
                  $("#thecalender").css('display', 'block');
                  $("#thedays").css('display', 'none');
                  $("#sidemenu").css('display', 'block');
            }

            function getdatewa(params) {
                  $("#thedays").css('display', 'block');
                  var monthandyear = $("#monthAndYear").html();
                  $("#theactualdate").html(params.innerHTML + " " + monthandyear);
                  $("#sidemenu").css('display', 'none');
                  $("#rightsidemenu").css('display', 'block');
                  $(".bg-info").removeClass('bg-info');
                  $("#" + params.id).addClass('bg-info');
                  $(".currentdate").addClass('bg-success');
                  var day = params.id.split('_')[0];
                  var month = parseInt(params.id.split('_')[1]) - 1;
                  var year = params.id.split('_')[2];
                  $.get('/academics/calender/tasks?date=' + day + '-' + month + '-' + year, function (data, status) {
                        $("#thetaskitems").html("");
                        data.forEach(element => {
                              $("#thetaskitems").append(
                                    `<li id="${element._id}" onclick="showtaskdetails(this)" class="list-group-item">${element.name}</li>`
                              );
                        });

                  });
            }

            function closefullview() {
                  $("#container").css('display', 'block');
                  $("#fullview").css('display', 'none');
                  $("#fullview").html('');
            }

            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            today = new Date();
            currentMonth = today.getMonth();
            currentYear = today.getFullYear();
            selectYear = document.getElementById("year");
            selectMonth = document.getElementById("month");

            months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            monthAndYear = document.getElementById("monthAndYear");
            showCalendar(currentMonth, currentYear);


            function next() {
                  currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
                  currentMonth = (currentMonth + 1) % 12;
                  showCalendar(currentMonth, currentYear);
            }

            function previous() {
                  currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
                  currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
                  showCalendar(currentMonth, currentYear);
            }

            function jump() {
                  currentYear = parseInt(selectYear.value);
                  currentMonth = parseInt(selectMonth.value);
                  showCalendar(currentMonth, currentYear);
            }

            function showCalendar(month, year) {

                  let firstDay = (new Date(year, month)).getDay();

                  tbl = document.getElementById("calendar-body"); // body of the calendar

                  // clearing all previous cells
                  tbl.innerHTML = "";

                  // filing data about month and in the page via DOM.
                  monthAndYear.innerHTML = months[month] + " " + year;
                  selectYear.value = year;
                  selectMonth.value = month;

                  // creating all cells
                  let date = 1;
                  for (let i = 0; i < 6; i++) {
                        // creates a table row
                        let row = document.createElement("tr");

                        //creating individual cells, filing them up with data.
                        for (let j = 0; j < 7; j++) {
                              if (i === 0 && j < firstDay) {
                                    cell = document.createElement("td");
                                    cell.setAttribute('onclick', 'getdatewa(this)');
                                    cellText = document.createTextNode("");
                                    cell.appendChild(cellText);
                                    row.appendChild(cell);
                              } else if (date > daysInMonth(month, year)) {
                                    break;
                              } else {
                                    cell = document.createElement("td");
                                    cell.setAttribute('onclick', 'getdatewa(this)');
                                    cellText = document.createTextNode(date);
                                    cell.setAttribute('id', date.toString() + '_' + (month + 1).toString() + '_' + year
                                          .toString());
                                    if (date === today.getDate() && year === today.getFullYear() && month === today
                                          .getMonth()) {
                                          cell.classList.add("bg-info");
                                          cell.classList.add("currentdate");
                                    } // color today's date
                                    cell.appendChild(cellText);
                                    row.appendChild(cell);
                                    date++;
                              }
                        }

                        tbl.appendChild(row); // appending each row into calendar body.
                  }

            }

            function showtaskdetails(params) {
                  $.get('/academics/calender/taskdetails?id=' + params.id, function (data, status) {
                        var thedate = data.dateoftask.split('T')[0];
                        $("#createdmessage").remove();
                        $("#calendertablepart").removeClass('col-9');

                        $(".theselectedtask").removeClass('active');
                        $(".theselectedtask").removeClass('theselectedtask');

                        $("#" + params.id).addClass('active');
                        $("#" + params.id).addClass('theselectedtask');
                        $("#calendertablepart").addClass('col-5');
                        $("#thetask").css('display', 'block');
                        $("#thetask").html("");
                        $("#thetask").append(`
                       <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                         <div class="card-header">${thedate}</div>
                         <div class="card-body">
                          <h5 class="card-title">${data.name}</h5>
                          <p class="card-text">${data.taskdesc}</p>
                           </div>
                        </div>
                  `);
                  });
            }

            function daysInMonth(iMonth, iYear) {
                  return 32 - new Date(iYear, iMonth, 32).getDate();
            }



            function RefreshTasks() {
                  var today = new Date();
                  var date = today.getDate();
                  var month = today.getMonth();
                  var year = today.getFullYear();
                  var monthandyear = $("#monthAndYear").html();
                  $("#theactualdate").html(date + " " + monthandyear);
                  $.get('/academics/calender/tasks?date=' + date + '-' + month + '-' + year, function (data, status) {
                        data.forEach(element => {
                              $("#thetaskitems").append(
                                    `<li id="${element._id}" onclick="showtaskdetails(this)" class="list-group-item">${element.name}</li>`
                              );
                        });

                  });
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);
                  var thecalender = $('table').rows;
                  var monthandyear = $("#monthAndYear").html();
                  var today = new Date();
                  var date = today.getDate();
                  var month = today.getMonth();
                  var year = today.getFullYear();
                  $("#theactualdate").html(date + " " + monthandyear);
                  $.get('/academics/calender/tasks?date=' + date + '-' + month + '-' + year, function (data,
                        status) {
                        data.forEach(element => {
                              $("#thetaskitems").append(
                                    `<li id="${element._id}" onclick="showtaskdetails(this)" class="list-group-item">${element.name}</li>`
                              );
                        });

                  });


            });
      </script>
</body>

</html>