<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <style>
            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }
      </style>
</head>

<body>
      <header id="header">
            {{>navbar}}
      </header>

      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-3">
                        {{>sidemenus/academics}}
                        <div style="text-align:center;">
                              <hr>
                              <a href="#" class="list-group-item list-group-item-action active"
                                    id="nameofuser">{{userdata.name}}</a>
                              <a href="#" style="display: none" class="list-group-item list-group-item-action active"
                                    id="emailofuser">{{userdata.email}}</a>
                        </div>
                        <hr>
                        <div class="col-12" style="max-height: 30vh">
                              <div class="list-group" id="activeusers" style="text-align: center;font-size: 0.6rem">
                                    <a href="#" class="list-group-item list-group-item-action active"><span>ACTIVE
                                                USERS</span></a>
                              </div>
                        </div>
                  </div>
                  <div class="col-9" style="height: 60vh">
                        <div class="sc1"
                              style="max-height: 80vh;background-color: #f1f1f1;height:70vh;border-radius: 10px;padding: 2rem;"
                              id="mainpart">
                              <div id="allmessages" class="sc1" style="overflow-y: scroll;max-height:60vh">
                              </div>
                        </div>
                        <hr>
                        <div style="text-align: center;justify-content:center;align-items:center; display: flex;">
                              <textarea name="" id="message" class="col-9 row-2"></textarea><Button class="col-2 row-2"
                                    style=" background-color: white;
                              color: black;
                              border: 2px solid #4CAF50;height: 45px;" onclick="sendtoclass()"
                                    id="sendtoclass">Send</Button>
                        </div>
                  </div>
            </div>
      </div>
      </div>
      {{>scripts}}
      <script>
            function closefullview() {
                  $("#container").css('display', 'block');
                  $("#fullview").css('display', 'none');
                  $("#fullview").html('');
            }

            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);
                  $.get('/academics/classmessages', function (data, staus) {
                        var emailofuser = $("#emailofuser").html();
                        data.forEach(element => {
                              var objDiv = document.getElementById("allmessages");
                              objDiv.scrollTop = objDiv.scrollHeight;
                              if (element.byemail === emailofuser) {
                                    $("#allmessages").append(
                                          ` <div style="margin-left: 20%;margin-bottom: 1rem;margin-right:1rem">
                              <div style="text-align:end">You</div>
                              <div style="width:100%;background-color:#6e2b6a;padding:1rem;border-radius:1rem;color:white ">${element.message}</div>
                          </div>`
                                    );
                              } else {
                                    $("#allmessages").append(
                                          ` <div style="margin-bottom: 1rem">
                                <div>${element.messageby}</div>
                                <div style="width:80%;background-color:#271669;padding:1rem;border-radius:1rem ;color: white;">${element.message}</div>
                          </div>`
                                    );
                              }
                        });
                        var objDiv = document.getElementById("allmessages");
                        objDiv.scrollTop = objDiv.scrollHeight;
                  });
                  var objDiv = document.getElementById("allmessages");
                  objDiv.scrollTop = objDiv.scrollHeight;
            });
      </script>
      <script src="/socket.io/socket.io.js"></script>



      <script>
            var socket = io();

            function sendtoclass() {
                  var message = $("#message").val();
                  var nameofuser = $("#nameofuser").html();
                  var emailofuser = $("#emailofuser").html();
                  $("#allmessages").append(
                        ` <div style="margin-left: 20%;margin-bottom: 1rem;margin-right:1rem">
                              <div style="text-align:end">You</div>
                              <div style="width:100%;background-color:white;padding:1rem;border-radius:1rem ">${message}</div>
                          </div>`
                  );
                  socket.emit('sendmessagetoclass', {
                        message: message,
                        nameofuser: nameofuser,
                        emailofuser: emailofuser
                  });
                  var objDiv = document.getElementById("allmessages");
                  objDiv.scrollTop = objDiv.scrollHeight;
            }
            socket.on('connect', () => {

            });

            socket.on('user', (data) => {
                  var username = data.username.split(' ').join('_');
                  $("." + username).remove();
                  $("#activeusers").append(
                        ` <a href="#" class="list-group-item list-group-item-action ${username}">${data.username} <img style="height: 0.5rem" src="/assets/img/active-icon.png"></a>`
                  );
            });

            socket.on('newmessage', (data) => {
                  $("#allmessages").append(
                        ` <div style="margin-bottom: 1rem">
                                <div>${data.nameofuser}</div>
                                <div style="width:80%;background-color:#271669;padding:1rem;border-radius:1rem ;color: white;">${data.message}</div>
                          </div>`
                  );

                  var objDiv = document.getElementById("allmessages");
                  objDiv.scrollTop = objDiv.scrollHeight;
            });
      </script>
</body>

</html>