<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}
      <style>
            .create div {
                  border: 1px solid black;
                  padding: 1rem;
                  margin: 1rem;
                  cursor: pointer;
            }

            .folders {
                  cursor: pointer;
            }

            .files {
                  cursor: pointer;
            }

            .delete-icon {
                  float: right;
                  background-color: white;
                  padding: 0.5rem;
                  border-radius: 0.3rem;
                  cursor: pointer;

            }

            .delete-icon:hover span {
                  display: none;
            }

            .delete-icon:hover::before {
                  content: "Delete";
            }

            .rename-icon {
                  float: right;
                  background-color: white;
                  padding: 0.5rem;
                  border-radius: 0.3rem;
                  cursor: pointer;
            }

            .rename-icon:hover span {
                  display: none;
            }

            .rename-icon:hover::before {
                  content: "Rename";
            }

            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }
      </style>
</head>

<body>
      <header id="header">
            {{>navbar}}
      </header>

      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-3">
                        {{>sidemenus/academics}}
                  </div>
                  <div class="col-9 sc1" id="allnotices" style="overflow-y: scroll;max-height:80vh">
                        
                  </div>
            </div>
      </div>
      <div class="container" id="fullview" style="display: none;margin-top: 100px;">

      </div>
      {{>scripts}}
      <script>
        

            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  // document.getElementById("mainpart").style.height = vh - getPosition(s);
                  // var clientHeight = document.getElementById('header').clientHeight;
                  // var headerHeight = $('header').outerHeight();
                  // document.getElementById("container").style.marginTop = getPosition(clientHeight);
                  $.get('/academics/noticeslist',function(data,status){
                        console.log(data);
                        data.forEach(element => {
                              $("#allnotices").append(`<div class="sc1" style="max-height: 80vh;overflow-y:scroll" id="mainpart">
                              <div class="list-group">
                                    <a href="https://www.bitmesra.ac.in/${element.link}" class="list-group-item list-group-item-action"><img
                                                src="/assets/img/plus.png" alt="" style="height: 0.8rem"> ${element.name}</a>
                                    
                              </div>
                        </div>`)
                        });
                  })
            })
      </script>


</body>

</html>