<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}

      <link rel="stylesheet" href="/assets/tables/jexcel.css" type="text/css" />
      <link rel="stylesheet" href="/assets/tables/jsuites.css" type="text/css" />
      <style>
            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }

            .form-control {
                  margin-left: 1rem;
            }

            td {
                  width: 400px;
            }
      </style>
</head>

<body>
      <header id="header">
            <nav class="navbar navbar-expand-lg navbar-light navbar-float">
                  <div class="container">
                        <a href="/club/admin" class="navbar-brand">Bit<span class="text-primary">App</span></a>

                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent"
                              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                        </button>

                        {{>clubs/navbar}}
                  </div>
            </nav>
      </header>

      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-2">
                        <div class="list-group">
                              <a href="/club/forms/" class="list-group-item list-group-item-action"><img
                                          src="/assets/img/people-icon.png" alt="" style="height: 0.8rem"> Forms </a>
                        </div>
                        <div class="list-group">
                              <a href="/club/sheets/" class="list-group-item list-group-item-action"><img
                                          src="/assets/img/people-icon.png" alt="" style="height: 0.8rem"> Sheets </a>
                        </div>
                        <hr>
                        <hr>
                        <div class="list-group" style="text-align: center;">
                              <a href="/club/forms/addnew" class="list-group-item list-group-item-action"> Add New
                                    Form </a>
                        </div>
                        <div class="list-group" style="text-align: center;">
                              <a href="/club/sheets/addnew" class="list-group-item list-group-item-action"> Add New
                                    Sheets </a>
                        </div>
                        <hr>
                        <button id="save" type="button" class="btn btn-success" style="width: 100%">Save</button>
                        <div class="text-center" id="issaved"></div>
                        <div class="Timer"></div>
                  </div>
                  <div class="col-10 sc1" style="overflow-x: scroll;">
                        <div class="sc1" style="max-height: 80vh;overflow-y:scroll;min-height: 80vh;" id="mainpart">
                              <h1> </h1>
                              <div class="container">
                                    <div id="spreadsheet"></div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      {{>scripts}}
      <script src="/assets/tables/jexcel.js"></script>
      <script src="/assets/tables/jsuites.js"></script>
      <script>
            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);
                  var pathname = window.location.pathname.split('/')[4];
                  $.get('/club/sheet/data/' + pathname, (data, status) => {
                        var tabledata = data.allrows;
                        var allcolumns = [];
                        data.columns.forEach(element => {
                              var thecolumn = {
                                    type: 'text',
                                    title: element,
                                    width: 180
                              }
                              allcolumns.push(thecolumn);
                        });
                        var table = jspreadsheet(document.getElementById('spreadsheet'), {
                              data: tabledata,
                              columns: allcolumns
                        });
                        $('table').click(function () {
                              $("#issaved")
                                    .html(
                                          'UNSAVED'
                                    );
                        });
                        $("#save").click(function () {
                              var tabledata = table.getData();
                              var allcols = [];
                              var cols = document.querySelectorAll("thead tr td");
                              for (let i = 1; i < cols.length; i++) {
                                    allcols.push(cols[i].innerHTML);
                              }
                              var sheetid = window.location.pathname.split('/')[4];
                              $.post('/club/sheet/save', {
                                    sheetid: sheetid,
                                    allcols: allcols,
                                    tabledata: tabledata
                              }, function (data, status) {
                                    $("#issaved").html(data);
                                    $('table').click(function () {
                                          $("#issaved")
                                                .html(
                                                      'UNSAVED'
                                                );
                                    });
                              });
                        });
                  });

            });
      </script>


</body>

</html>