<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}
      <style>
            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }

            *,
            *::before,
            *::after {
                  box-sizing: border-box;
            }


            p {
                  margin: 0 0 13px 0;
            }

            a {
                  color: #fff;
            }

            .center {
                  text-align: center;
            }

            .container {
                  width: 95%;
                  max-width: 1220px;
                  margin: 0 auto;
            }

            .episode {
                  display: grid;
                  grid-template-columns: 1fr 3fr;
                  position: relative;
            }

            .episode__number {
                  font-size: 10vw;
                  /* font-weight: 600;
                  padding: 10px 0;
                  position: sticky;
                  top: 0;
                  text-align: center;
                  height: calc(10vw + 20px);
                  transition: all 0.2s ease-in; */
            }

            .episode__content {
                  border-top: 2px solid #fff;
                  display: grid;
                  grid-template-columns: 1fr 4fr;
                  grid-gap: 10px;
                  padding: 15px 0;
            }

            .episode__content .title {
                  font-weight: 600
            }

            .episode__content .story {
                  line-height: 26px;
            }

            @media (max-width: 600px) {
                  .episode__content {
                        grid-template-columns: 1fr;
                  }
            }

            @media (max-width: 576px) {
                  .episode__content .story {
                        font-size: 15px;
                  }
            }
      </style>
</head>

<body>
      <header id="header">
            <nav class="navbar navbar-expand-lg navbar-light navbar-float">
                  <div class="container">
                        <a href="/club/admin" class="navbar-brand">Bit<span class="text-primary">App</span></a>

                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent"
                              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                        </button>

                       
                        {{>clubs/navbar}}
                  </div>
            </nav>
      </header>

      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-2">
                        <div class="list-group">
                              <a href="/club/events/" class="list-group-item list-group-item-action"><img
                                          src="/assets/img/people-icon.png" alt="" style="height: 0.8rem"> Events </a>
                        </div>
                        <hr>
                        <div class="list-group" style="text-align: center;">
                              <a href="/club/events/addnew" class="list-group-item list-group-item-action"> Add New
                                    Event </a>
                        </div>
                        <div class="list-group" style="text-align: center;">
                              <a href="/club/events/manage" class="list-group-item list-group-item-action"> Manage
                                    Posts</a>
                        </div>
                  </div>
                  <div class="col-10">
                        <div class="sc1" style="max-height: 80vh;overflow-y:scroll" id="mainpart">
                              <h1> Manage events</h1>
                              <button type="button" class="btn btn-light" onclick="RefreshEvents()">Refresh
                                    List</button>
                              <hr>
                              <table class="table">
                                    <thead>
                                          <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Event</th>
                                                <th scope="col">Start Date</th>
                                                <th scope="col">End Date</th>
                                                <th scope="col">Venue</th>
                                                <th scope="col">Options</th>
                                          </tr>
                                    </thead>
                                    <tbody id="eventslist">

                                    </tbody>
                              </table>
                        </div>
                  </div>
            </div>
      </div>
      <div class="container" id="fullview" style="display: none;margin-top: 100px;">

      </div>
      {{>scripts}}
      <script>
            function RefreshEvents() {
                  $("#eventslist").html('');
                  $.get('/club/events/list', function (data, status) {
                        var sno = 1;
                        data.forEach(element => {
                              $("#eventslist").append(`<tr>
                                                <th scope="row">${sno}</th>
                                                <td>${element.name}</td>
                                                <td>${element.startdate}</td>
                                                <td>${element.enddate}</td>
                                                <td>${element.location}</td>
                                                <td id="options_${element._id}"><button type="button" id="view_${element._id}" onclick="viewevent(this)" class="btn btn-success">View</button>
                                                <button type="button" id="edit_${element._id}" onclick="editevent(this)" class="btn btn-primary">Edit</button>
                                                <button type="button" id="delete_${element._id}" onclick="deleteevent(this)" class="btn btn-danger">Delete</button></td>
                              </tr>`);
                              sno++;
                        });
                  });
            }

            function undodeleteevent(params) {
                  var eventid = params.id.split('_')[1];
                  $.post('/club/events/undodelete', {
                        eventid: eventid
                  }, function (data, status) {
                        $("#undodelete_" + eventid).remove();
                        $("#options_" + eventid).append(` <button type="button" id="delete_${eventid}" onclick="deleteevent(this)" class="btn btn-danger">Delete</button></td>
                        `);
                  });
            }

            function deleteevent(params) {
                  var eventid = params.id.split('_')[1];
                  $.post('/club/events/delete', {
                        eventid: eventid
                  }, function (data, status) {
                        $("#delete_" + eventid).remove();
                        $("#options_" + eventid).append(` <button type="button" id="undodelete_${eventid}" onclick="undodeleteevent(this)" class="btn btn-dark">Undo Delete</button></td>
                        `);
                  });
            }

            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window
                        .innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);

                  $.get('/club/events/list', function (data, status) {
                        var sno = 1;
                        data.forEach(element => {
                              $("#eventslist").append(`<tr>
                                                <th scope="row">${sno}</th>
                                                <td>${element.name}</td>
                                                <td>${element.startdate}</td>
                                                <td>${element.enddate}</td>
                                                <td>${element.location}</td>
                                                <td id="options_${element._id}"><button type="button" id="view_${element._id}" onclick="viewevent(this)" class="btn btn-success">View</button>
                                                <button type="button" id="edit_${element._id}" onclick="editevent(this)" class="btn btn-primary">Edit</button>
                                                <button type="button" id="delete_${element._id}" onclick="deleteevent(this)" class="btn btn-danger">Delete</button></td>
                              </tr>`);
                              sno++;
                        });
                  });

            });
      </script>


</body>

</html>