<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}
      <style>
            .create div {
                  border: 1px solid black;
                  padding: 1rem;
                  margin: 1rem;
                  cursor: pointer;
            }

            .folders {
                  cursor: pointer;
            }

            .files {
                  cursor: pointer;
            }

            .delete-icon {
                  float: right;
                  background-color: white;
                  padding: 0.5rem;
                  border-radius: 0.3rem;
                  cursor: pointer;

            }

            .delete-icon:hover span {
                  display: none;
            }

            .delete-icon:hover::before {
                  content: "Delete";
            }

            .rename-icon {
                  float: right;
                  background-color: white;
                  padding: 0.5rem;
                  border-radius: 0.3rem;
                  cursor: pointer;
            }

            .rename-icon:hover span {
                  display: none;
            }

            .rename-icon:hover::before {
                  content: "Rename";
            }

            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }

            .card-margin {
                  margin-bottom: 1.875rem;
            }

            .card {
                  border: 0;
                  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
                  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
                  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
                  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            }

            .card {
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  min-width: 0;
                  word-wrap: break-word;
                  background-color: #ffffff;
                  background-clip: border-box;
                  border: 1px solid #e6e4e9;
                  border-radius: 8px;
            }

            .card .card-header.no-border {
                  border: 0;
            }

            .card .card-header {
                  background: none;
                  padding: 0 0.9375rem;
                  font-weight: 500;
                  display: flex;
                  align-items: center;
                  min-height: 50px;
            }

            .card-header:first-child {
                  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
            }

            .widget-49 .widget-49-title-wrapper {
                  display: flex;
                  align-items: center;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #edf1fc;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
                  color: #4e73e5;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
                  color: #4e73e5;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #fcfcfd;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
                  color: #dde1e9;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
                  color: #dde1e9;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #e8faf8;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
                  color: #17d1bd;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
                  color: #17d1bd;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #ebf7ff;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
                  color: #36afff;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
                  color: #36afff;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: floralwhite;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
                  color: #FFC868;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
                  color: #FFC868;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #feeeef;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
                  color: #F95062;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
                  color: #F95062;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #fefeff;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
                  color: #f7f9fa;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
                  color: #f7f9fa;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #ebedee;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
                  color: #394856;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
                  color: #394856;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  background-color: #f0fafb;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
                  color: #68CBD7;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
                  color: #68CBD7;
                  line-height: 1;
                  font-size: 1rem;
                  text-transform: uppercase;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
                  display: flex;
                  flex-direction: column;
                  margin-left: 1rem;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
                  color: #3c4142;
                  font-size: 14px;
            }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
                  color: #B1BAC5;
                  font-size: 13px;
            }

            .widget-49 .widget-49-meeting-points {
                  font-weight: 400;
                  font-size: 13px;
                  margin-top: .5rem;
            }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
                  display: list-item;
                  color: #727686;
            }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
                  margin-left: .5rem;
            }

            .widget-49 .widget-49-meeting-action {
                  text-align: right;
            }

            .widget-49 .widget-49-meeting-action a {
                  text-transform: uppercase;
            }
      </style>
</head>

<body>
      <header id="header">
            <nav class="navbar navbar-expand-lg navbar-light navbar-float">
                  <div class="container">
                        <a href="/club/admin" class="navbar-brand">Bit<span class="text-primary">App</span></a>

                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent"
                              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarContent">
                              <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                                    <li class="nav-item">
                                          <a class="nav-link" href="/club/members/">Member</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="/club/events/">Events</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="/club/posts/">Posts</a>
                                    </li>
                              </ul>
                              <div class="ml-auto">

                                    <a href="#" onclick="chooseprofileaction()" id="profileoption"
                                          class="btn btn-outline rounded-pill">Club Page</a>
                                    <a href="/club/" style="display: none" id="profilebutton"
                                          class="btn btn-outline rounded-pill">Club Page</a>
                                    <a href="/club/pagefiles/" style="display: none" id="profileeditbutton"
                                          class="btn btn-outline rounded-pill">Edit Club Page</a>
                                    <a href="/logout" class="btn btn-outline rounded-pill">Log Out</a>
                              </div>
                        </div>
                  </div>
            </nav>
      </header>

      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-2">
                        <div class="list-group">
                              <a href="/club/members" class="list-group-item list-group-item-action"><img
                                          src="/assets/img/people-icon.png" alt="" style="height: 0.8rem"> Members</a>
                        </div>
                        <hr>

                        <div class="list-group" style="text-align: center;" id="batchesyear">

                        </div>
                        <hr>
                        <div class="list-group" style="text-align: center;">
                              <a href="#" class="list-group-item list-group-item-action"> Alumni </a>
                        </div>
                        <hr>
                        <div class="list-group" style="text-align: center;">
                              <a href="/club/member/addnew" class="list-group-item list-group-item-action"> Add New
                                    Member </a>
                        </div>
                  </div>
                  <div class="col-10">
                        <div class="sc1" style="max-height: 80vh;overflow-y:scroll" id="mainpart">
                              <h1>Member Name</h1>
                              <div class="container">
                                    <div class="row" id="memberslist">

                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="container" id="fullview" style="display: none;margin-top: 100px;">

      </div>
      {{>scripts}}
      <script>
            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);
                  var today = new Date();
                  var thisyear = today.getFullYear();

            });
      </script>


</body>

</html>