<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}
      <style>
            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }

            *,
            *::before,
            *::after {
                  box-sizing: border-box;
            }


            p {
                  margin: 0 0 13px 0;
            }

            a {
                  color: #fff;
            }

            .center {
                  text-align: center;
            }

            .container {
                  width: 95%;
                  max-width: 1220px;
                  margin: 0 auto;
            }

            .episode {
                  display: grid;
                  grid-template-columns: 1fr 3fr;
                  position: relative;
            }

            .episode__number {
                  font-size: 10vw;
                  /* font-weight: 600;
                  padding: 10px 0;
                  position: sticky;
                  top: 0;
                  text-align: center;
                  height: calc(10vw + 20px);
                  transition: all 0.2s ease-in; */
            }

            .episode__content {
                  border-top: 2px solid #fff;
                  display: grid;
                  grid-template-columns: 1fr 4fr;
                  grid-gap: 10px;
                  padding: 15px 0;
            }

            .episode__content .title {
                  font-weight: 600
            }

            .episode__content .story {
                  line-height: 26px;
            }

            @media (max-width: 600px) {
                  .episode__content {
                        grid-template-columns: 1fr;
                  }
            }

            @media (max-width: 576px) {
                  .episode__content .story {
                        font-size: 15px;
                  }
            }
      </style>
</head>

<body>
      <header id="header">
            <nav class="navbar navbar-expand-lg navbar-light navbar-float">
                  <div class="container">
                        <a href="/club/admin" class="navbar-brand">Bit<span class="text-primary">App</span></a>

                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent"
                              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarContent">
                              <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                                    <li class="nav-item">
                                          <a class="nav-link" href="/club/members/">Members</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="/club/events/">Events</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="/club/posts/">Posts</a>
                                    </li>
                              </ul>
                              <div class="ml-auto">

                                    <a href="#" onclick="chooseprofileaction()" id="profileoption"
                                          class="btn btn-outline rounded-pill">Club Page</a>
                                    <a href="/club/" style="display: none" id="profilebutton"
                                          class="btn btn-outline rounded-pill">Club Page</a>
                                    <a href="/club/pagefiles/" style="display: none" id="profileeditbutton"
                                          class="btn btn-outline rounded-pill">Edit Club Page</a>
                                    <a href="/logout" class="btn btn-outline rounded-pill">Log Out</a>
                              </div>
                        </div>
                  </div>
            </nav>
      </header>

      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-2">
                        <div class="list-group">
                              <a href="/club/posts/" class="list-group-item list-group-item-action"><img
                                          src="/assets/img/people-icon.png" alt="" style="height: 0.8rem"> Posts</a>
                        </div>
                        <hr>
                        <div class="list-group" style="text-align: center;">
                              <a href="/club/posts/addnew" class="list-group-item list-group-item-action"> Add New
                                    Post </a>
                        </div>
                        <div class="list-group" style="text-align: center;">
                              <a href="/club/posts/manage" class="list-group-item list-group-item-action"> Manage
                                    Posts</a>
                        </div>
                  </div>
                  <div class="col-10">
                        <div class="sc1" style="max-height: 80vh;overflow-y:scroll" id="mainpart">
                              <h1>Posts</h1>

                              <body>
                                    <div class="container" id="eventslist">
                                          
                                    </div>
                                    <h3 class="center"><a href="https://www.instagram.com/aristidebenoist/"
                                                target="_blank" rel="noopener noreferer">Inspired by Aristide
                                                Benoist</a></h3>
                              </body>

                        </div>
                  </div>
            </div>
      </div>
      <div class="container" id="fullview" style="display: none;margin-top: 100px;">

      </div>
      {{>scripts}}
      <script>
            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);

                  $.get('/club/posts/list', (data, status) => {
                        console.log(data);
                        data.forEach(element => {
                              desc = element.description.split('\r\n').join('<br>');
                              $("#eventslist").append(`<div class="card" style="border-radius:2rem;padding:1rem;margin-bottom:1rem;">
                                                <h1 class="center" style="z-index:45">${element.name}</h1>
                                                <article class="episode" style="z-index:45">
                                                      <div class="episode__number">
                                                            <img src="/clubs/events/images/${element.eventImage}"
                                                                  style="width:300px;border-radius:0.5rem;">
                                                      </div>
                                                      <div class="episode__content">
                                                            <div class="title" style="text-align:center">
                                                                  ${element.startdate}<br>-<br>${element.enddate}</div>
                                                            <div class="story">
                                                                  <p>${desc}
                                                            </div>
                                                      </div>
                                                </article>
                                          </div>
                              `)
                        });
                  });

            });
      </script>


</body>

</html>