<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}
      <style>
            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }

            #mainpart div div img {
                  max-height:98%;
                  max-width: 98%;
                  cursor: pointer;
            }

            #mainpart div div {
                  background-color: #f5f5f5;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid white;
                  border-radius: 0.5rem;
            }
      </style>
</head>

<body>
      <header id="header">
            {{>navbar}}
      </header>

      <main>
            <div>

            </div>
      </main>
      <div class="container" style="font-size: 0.8rem" id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-12" style="text-align: center;">
                        <div class="sc1" style="max-height: 80vh;overflow-y:scroll;width:120vh;overflow-x:hidden"
                              id="mainpart">
                              <div class="row" style="height:80vh">
                                    <div id="img_1_1" class="col-4"
                                          style="height:30vh;">
                                    </div>
                                    <div id="img_1_2" class="col-8"
                                          style="height:60vh;"></div>
                                    <div class="col-4" id="img_1_3"
                                          style="height:30vh;position:relative;bottom:30vh">
                                    </div>
                                    <div id="img_1_4" class="col-4"
                                          style="height:30vh;"></div>
                                    <div id="img_1_5" class="col-4"
                                          style="height:30vh;"></div>
                                    <div class="col-4" id="img_1_6"
                                          style="height:30vh;position:relative;bottom:30vh">
                                    </div>
                                    <div class="col-8" id="img_1_7"
                                          style="height:60vh;position:relative;right:40vh">
                                    </div>
                                    <div class="col-4" id="img_1_8"
                                          style="height:30vh;position:relative;bottom:60vh;left:82vh">
                                    </div>
                                    <div class="col-4" id="img_1_9"
                                          style="height:30vh;position:relative;bottom:30vh;left:41.2vh">
                                    </div>
                                    <div class="col-4" id="img_1_10"
                                          style="height:30vh;"></div>
                                    <div class="col-4" id="img_1_11"
                                          style="height:30vh;position:relative;bottom:30vh;">
                                    </div>
                                    <div class="col-4" id="img_1_12"
                                          style="height:30vh;position:relative;bottom:30vh;">
                                    </div>
                              </div>
                              <div class="row" style="height:80vh;position:relative;top:100vh">
                                    <div id="img_2_1" class="col-4"
                                          style="height:30vh;"></div>
                                    <div id="img_2_2" class="col-8"
                                          style="height:60vh;"></div>
                                    <div class="col-4" id="img_2_3"
                                          style="height:30vh;position:relative;bottom:30vh">
                                    </div>
                                    <div id="img_2_4" class="col-4"
                                          style="height:30vh;"></div>
                                    <div id="img_2_5" class="col-4"
                                          style="height:30vh;"></div>
                                    <div class="col-4" id="img_2_6"
                                          style="height:30vh;position:relative;bottom:30vh">
                                    </div>
                                    <div class="col-8" id="img_2_7"
                                          style="height:60vh;position:relative;right:40vh">
                                    </div>
                                    <div class="col-4" id="img_2_8"
                                          style="height:30vh;position:relative;bottom:60vh;left:82vh">
                                    </div>
                                    <div class="col-4" id="img_2_9"
                                          style="height:30vh;position:relative;bottom:30vh;left:41.2vh">
                                    </div>
                                    <div class="col-4" id="img_2_10"
                                          style="height:30vh;"></div>
                                    <div class="col-4" id="img_2_11"
                                          style="height:30vh;position:relative;bottom:30vh;">
                                    </div>
                                    <div class="col-4" id="img_2_12"
                                          style="height:30vh;position:relative;bottom:30vh;">
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      {{>scripts}}
      <script>
            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }


            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);
                  for (let j = 1; j <= 2; j++) {
                        for (let i = 1; i <= 12; i++) {
                              $('#img_' + j + '_' + i).append(
                                    ` <img src="/posts/images/628d96d1b635f92c098dad93.jpeg" alt="">`);
                        }

                  }

            });
      </script>


</body>

</html>