<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <style>
        .create div {
            border: 1px solid black;
            padding: 1rem;
            margin: 1rem;
            cursor: pointer;
        }

        .folders {
            cursor: pointer;
        }

        .files {
            cursor: pointer;
        }

        .delete-icon {
            float: right;
            background-color: white;
            padding: 0.5rem;
            border-radius: 0.3rem;
            cursor: pointer;

        }

        .delete-icon:hover span {
            display: none;
        }

        .delete-icon:hover::before {
            content: "Delete";
        }

        .rename-icon {
            float: right;
            background-color: white;
            padding: 0.5rem;
            border-radius: 0.3rem;
            cursor: pointer;
        }

        .rename-icon:hover span {
            display: none;
        }

        .rename-icon:hover::before {
            content: "Rename";
        }

        .sc1::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        .sc1::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 10px;
        }

        .sc1::-webkit-scrollbar-thumb {
            background-color: #dfdfdf;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="back-to-top"></div>
    <header>
        {{>navbar}}
    </header>

    <main>
        <div class="page-section counter-section">
            <div class="container">
                <div class="row align-items-center text-center">

                </div>
            </div>
        </div>
    </main>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="menuitem">Wow</div>
                <div class="menuitem">Wow</div>
                <div class="menuitem">Wow</div>
            </div>
            <div class="col-7">
                <div class="sc1" style="max-height: 80vh;overflow-y:scroll"  id="mainpart">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>

            <div class="col-3">Bye</div>
        </div>
    </div>
    <div class="container">

    </div>
    {{>scripts}}
    <script>
        function getPosition(element) {
            var xPosition = 0;
            var yPosition = 0;

            while (element) {
                xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                element = element.offsetParent;
            }
            return {
                x: xPosition,
                y: yPosition
            };
        }
        var s=document.getElementById('mainpart');
        
        const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
        document.getElementById("mainpart").style.height = vh-getPosition(s);
        console.log(getPosition(s));
    </script>


</body>

</html>