@keyframes up-right {
      0% {
            transform: scale(1);
            opacity: .25
      }

      50% {
            transform: scale (1, 5);
            opacity: 1;
      }

      100% {
            transform: scale(1);
            opacity: .25;
      }
}




.red {
      -webkit-animation: up-right 1s infinite;
      -moz-animation: up-right 1s infinite;
      -o-animation: up-right 1s infinite;
      animation: up-right 1s infinite;
}