@keyframes up-right {
      0% {
            transform: scale(1);
            opacity: .25
      }

      50% {
            transform: scale (1, 5);
            opacity: 1;
      }

      100% {
            transform: scale(1);
            opacity: .25;
      }
}




#mapslink:hover img {
      display: none;
}

#mapslink:hover::before {
      content: "Maps";
}

#academicslink:hover img {
      display: none;
}

#academicslink:hover::before {
      content: "Academics";
}

#explorelink:hover img {
      display: none;
}

#explorelink:hover::before {
      content: "Explore";
}

#fileslink:hover img {
      display: none;
}

#fileslink:hover::before {
      content: "Files";
}

#mailslink:hover img {
      display: none;
}

#mailslink:hover::before {
      content: "Mails";
}

#clubsandactslink:hover img {
      display: none;
}

#clubsandactslink:hover::before {
      content: "Clubs and Activities";
}

#chatslink:hover img {
      display: none;
}

#chatslink:hover::before {
      content: "Chats";
}




.red {
      -webkit-animation: up-right 1s infinite;
      -moz-animation: up-right 1s infinite;
      -o-animation: up-right 1s infinite;
      animation: up-right 1s infinite;
}