<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <style>
            .sc1::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
            }

            .sc1::-webkit-scrollbar-track {
                  background-color: rgba(255, 255, 255, 0.4);
                  border-radius: 10px;
            }

            .sc1::-webkit-scrollbar-thumb {
                  background-color: #dfdfdf;
                  border-radius: 10px;
            }

            li {
                  cursor: pointer;
            }
      </style>
</head>

<body>
      <header id="header">
            {{>navbar}}
      </header>


      <main>
            <div></div>
      </main>
      <div class="container" style="font-size: 0.8rem;font-size: 0.6rem; " id="container">
            <div class="row" style="margin-top: 100px">
                  <div class="col-3">
                        <div class="chatlist">
                              <h6>Chat List</h6>
                              <ul class="list-group  sc1" id="chatlist" style="max-height: 40vh;overflow-y: scroll;">

                              </ul>
                        </div>
                        <hr>
                        <div id="listofusers" class="sc1" style="max-height: 30vh;overflow-y:scroll;">
                              <li onclick="userslist()" class="list-group-item font-weight-bold active text-center"
                                    style="font-size:1rem">New Conversation</li>
                        </div>
                        <!-- <div class="recommendations ">
                              <h6>Online Users</h6>
                              <ul class="list-group sc1" style="max-height: 30vh;overflow-y: scroll;">

                              </ul>
                        </div> -->
                  </div>
                  <div class="col-9" style="height: 60vh;display: none;" id="chatarea">
                        <h1 class="card" id="nameofuser" style="max-height:40vh">User</h1>
                        <h1 class="card" id="emailofuser" style="display: none;">Email</h1>
                        <h1 class="card" id="useremail" style="display: none;">{{user.email}}</h1>
                        <h1 class="card" id="username" style="display: none;">{{user.name}}</h1>
                        <h1 class="card" id="section" style="display: none;">{{user.section}}</h1>
                        <h1 class="card" id="branch" style="display: none;">{{user.branch}}</h1>
                        <div class="sc1"
                              style="max-height: 80vh;background-color: #f1f1f1;height:60vh;border-radius: 10px;padding: 2rem;"
                              id="mainpart">

                              <div id="allmessages" class="sc1" style="overflow-y: scroll;max-height:60vh">
                              </div>
                        </div>
                        <hr>
                        <div style="text-align: center;justify-content:center;align-items:center; display: flex;">
                              <textarea name="" id="message" class="col-9 row-2"></textarea><Button class="col-2 row-2"
                                    style=" background-color: white;
                              color: black;
                              border: 2px solid #4CAF50;height: 45px;" onclick="sendtouser()"
                                    id="sendtoclass">Send</Button>
                        </div>
                  </div>
            </div>
      </div>
      </div>
      {{>scripts}}
      <script>
            function startchat(name, email) {
                  $("#chatlist").prepend(
                        `<li onclick='chat("${name}","${email}")' class="list-group-item font-weight-bold " style="font-size:1rem"><span class="theuser">${name}</span></li>`
                        );

                  $("#listofusers").html(`<li onclick="userslist()" class="list-group-item font-weight-bold active text-center"
                                    style="font-size:1rem">New Conversation</li>`);
            }

            function userslist() {
                  var list = $("#chatlist").children();
                  var namelist = [];
                  var username = $("#username").html();
                  namelist.push(username);
                  for (let i = 0; i < list.length; i++) {
                        namelist.push(list[i].id);
                  }
                  $.get('/chats/users/list', (data, status) => {
                        $("#listofusers").html('');
                        data.allusers.forEach(element => {
                              var presence = (namelist.indexOf(element.name) > -1);
                              if (presence) {} else {
                                    $("#listofusers").append(
                                          `<li onclick='startchat("${element.name}","${element.email}")' class="list-group-item" style="font-size:0.7rem">${element.name}</li>`
                                    );
                              }
                        })
                  });
            }

            function RefreshChatList() {

                  $.get('/chats/messenger/list', (data, status) => {
                        $("#chatlist").html('');
                        data.forEach(user => {
                              $("#chatlist").append(
                                    `<li id="${user.indexname}" onclick='chat("${user.indexname}","${user.indexemail}")' class="list-group-item font-weight-bold " style="font-size:1rem"><span class="theuser">${user.indexname}</span> <br> <span style="font-size: 0.6rem;font-weight:normal">${user.message}</span></li>`
                              );
                        });
                        var section = $("#section").html();
                        var branch = $("#branch").html();
                        socket.emit('online_users', {
                              section: section,
                              branch: branch
                        });
                  });

            }

            function chat(name, email, socketID) {
                  $("#chatarea").css('display', 'block');
                  $("#nameofuser").html(name);
                  $("#emailofuser").html(email);
                  $.get('/chats/messages/byemail?email=' + email, (data,
                        status) => {
                        $("#allmessages").html('');
                        if (data) {
                              data.messages.forEach(message => {
                                    $("#allmessages").append(
                                          `<li class="list-group-item">${message.from}: ${message.message}</li>`
                                    );
                              });
                        }
                  });
            }

            function sendtouser() {
                  var recievername = $("#nameofuser").html();
                  var recieveremail = $("#emailofuser").html();
                  var senderemail = $("#useremail").html();
                  var sendername = $("#username").html();
                  var message = $("#message").val();
                  socket.emit('private_message', {
                        recieveremail: recieveremail,
                        recievername: recievername,
                        senderemail: senderemail,
                        sendername: sendername,
                        message: message
                  });
                  $("#allmessages").append(
                        `<li class="list-group-item">${sendername}: ${message}</li>`);
                  RefreshChatList();
            }

            socket.on('new_message', (data) => {
                  var emailofuser = $("#emailofuser").html();
                  RefreshChatList();
                  if (emailofuser == data.senderemail) {
                        $("#allmessages").append(
                              `<li class="list-group-item">${data.sendername}: ${data.message}</li>`);

                  }

            });

            socket.on('users_online', (users) => {
                  var useremail = $("#useremail").html();
                  $(".recommendations ul").html('');
                  users.forEach(user => {
                        if (user.email == useremail) {

                        } else {
                              var s = $("#chatlist").children();
                              var x = true;
                              for (let i = 0; i < s.length; i++) {
                                    if (s[i].innerHTML == user.name) {
                                          x = false;
                                    }
                              }
                              if (x) {
                                    $(".recommendations ul").prepend(
                                          `<li class="list-group-item" id="userrecomm_${user.socketID}" onclick='startchat("${user.name}","${user.email}","${user.socketID}")'>${user.name}</li>`
                                    );
                              }

                        }

                  });

            });

            function getPosition(element) {
                  var xPosition = 0;
                  var yPosition = 0;

                  while (element) {
                        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                        element = element.offsetParent;
                  }
                  return {
                        x: xPosition,
                        y: yPosition
                  };
            }

            $(document).ready(function () {
                  var s = document.getElementById('mainpart');
                  var header = document.getElementById('header');
                  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                  document.getElementById("mainpart").style.height = vh - getPosition(s);
                  var clientHeight = document.getElementById('header').clientHeight;
                  var headerHeight = $('header').outerHeight();
                  document.getElementById("container").style.marginTop = getPosition(clientHeight);

                  $.get('/chats/messenger/list', (data, status) => {
                        data.forEach(user => {
                              $("#chatlist").append(
                                    `<li id="${user.indexname}" onclick='chat("${user.indexname}","${user.indexemail}")' class="list-group-item font-weight-bold " style="font-size:1rem"><span class="theuser">${user.indexname}</span> <br> <span style="font-size: 0.6rem;font-weight:normal">${user.message}</span></li>`
                              );
                        });
                        var section = $("#section").html();
                        var branch = $("#branch").html();
                        // socket.emit('online_users', {
                        //       section: section,
                        //       branch: branch
                        // });
                        if (data[0]) {
                              $.get('/chats/messages/byemail?email=' + data[0].indexemail, (
                                    alldata,
                                    status) => {
                                    alldata.messages.forEach(message => {
                                          $("#allmessages").append(
                                                `<li class="list-group-item">${message.from}: ${message.message}</li>`
                                          );
                                    });
                                    $("#nameofuser").html(data[0].indexname);
                                    $("#emailofuser").html(data[0].indexemail);
                              });
                        }


                  });

            });
      </script>

</body>

</html>